extends template

block title
  title Сайт про мультсериалы 

block footer 
  //+footer-long-page 
  script(src='js/js-for-one-page.js')
  script(src='js/confetti.js')

block content
  .head_01 
    .my-text-01 
      p Добро пожаловать на мой сайт!
    .my-text-02 
      p Тут вы сможете найти много интеренсого!
    .my-text-03
      p(id='123') А теперь - нажми мышкой на странице
